.Appbar {
  width: 100%;
  background: rgb(40, 84, 135);
  height: "50px";
  position: sticky;
  top: 0;
  z-index: 999999;
}

.AppbarLogo {
  width: 40;
  height: 40;
  margin-right: 5px;
  cursor: pointer;
}
.AppbarWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.Appbar .AppbarTitle {
  font-size: 22px;
  font-weight: 600;
  margin-left: 8;
  color: rgb(225, 225, 225);
}
.Appbar .Left {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}
.Appbar .Right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
}
.NotificationBadge {
  display: block;
  padding: 5px;
  width: 6px;
  height: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  background: rgb(238, 68, 68);
  color: rgb(225, 225, 225);
}
