.Sidebar {
  width: "100%";
  background: rgb(98, 121, 134);
  position: sticky;
  height: calc(100vh - 50px);
  top: 55px;
}

.SidebarWrapper {
  padding: 0px 1rem;
}

.SidebarTitle {
  font-size: 16px;
  font-weight: 600;
  color: #666;
  text-align: left;
}
.SidebarList {
  list-style: none;
  padding: 0px 8px;
  margin-top: -8px;
}
.SidebarLink {
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  color: #333;
  width: 90%;
  text-align: left;
  box-shadow: 1px 2px 17px -7px #444;
  margin-bottom: 8px;
  background-color: rgb(98, 121, 134);
}
.SidebarLink:hover {
  background-color: rgb(31, 107, 152);
}
.SidebarIcon {
  margin-right: 0.5rem;
  color: #444;
}
